.row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.row-center {
  @extend .row;
  align-items: center;
  -webkit-align-items: center;
}
.row-between {
  @extend .row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.row-around {
  @extend .row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.row-end {
  @extend .row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.row-wrap {
  @extend .row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.row-nowrap {
  @extend .row;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.column {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.column-center {
  @extend .column;
  justify-content: center;
  -webkit-justify-content: center;
}
.column-around {
  @extend .column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.column-between {
  @extend .column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.flex-center {
  @extend .row;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.open-img {
  position: relative;
  top: -20rpx;
  overflow: hidden;
  display: block;
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
